@use 'colors' as *;

button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.25rem;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

:host {
  &.primary {
    button {
      background-color: $blue-01;
      border: 2px solid $blue-01;
      color: white;
    }
  }

  &.secondary {
    button {
      background-color: white;
      color: $grey-01;
      border: 2px solid $grey-02;
    }
  }
}
