<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Valid</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (file of files(); track file.id) {
      <tr [class.inValid]="!file.isValid">
        <td class="file">
          <img src="assets/images/icon_file_upload.svg" alt="File icon" width="16" height="16" />
          {{ file.file.name }}
        </td>
        <td>
          {{ file.name }}
        </td>
        <td>{{ file.description }}</td>
        <td [class.valid]="file.isValid" [class.inValid]="!file.isValid">
          <span>
            {{ file.isValid ? 'Valid' : 'Invalid' }}
          </span>
        </td>
        <td class="file-remove">
          <img
            (click)="onDeleteFile(file)"
            src="assets/images/icon_remove.svg"
            alt="Remove file icon"
            width="16"
            height="16"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshFiles()"
  >
  </ngb-pagination> -->
</section>
