<section class="table-responsive-md">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">File</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Valid</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @for (file of paginatedFilesSignal(); track file.id) {
        <tr [class.inValid]="!file.isValid">
          <td class="file">
            <img
              src="assets/images/icon_file_upload.svg"
              alt="File icon"
              width="16"
              height="16"
            />
            <span>
              {{ file.file.name }}
            </span>
          </td>
          <td class="file-name">
            {{ file.name }}
          </td>
          <td class="file-description">{{ file.description }}</td>
          <td [class.valid]="file.isValid" [class.inValid]="!file.isValid">
            <span>
              {{ file.isValid ? "Valid" : "Invalid" }}
            </span>
          </td>
          <td class="file-remove">
            <button
              type="button"
              (click)="onDeleteFile(file)"
              (keydown.enter)="onDeleteFile(file)"
              class="btn"
              aria-label="Remove file"
            >
              <img
                src="assets/images/icon_remove.svg"
                alt="Remove file icon"
                width="16"
                height="16"
              />
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <ngb-pagination
    [collectionSize]="files().length"
    [(page)]="paginationSignal().page"
    [pageSize]="paginationSignal().pageSize"
    (pageChange)="onPaginationChange($event)"
  >
  </ngb-pagination>
</section>
