<section>
  <main>
    <!-- HEADERS -->
    <div class="header-container">
      @for (header of headers; track header) {
        <span>{{ header }}</span>
      }
    </div>

    <!-- LIST ITEMS -->
    <div class="list-container">
      @for (file of paginatedFilesSignal(); track file.id) {
        <app-table-row-item [file]="file"></app-table-row-item>
      }
    </div>
  </main>

  <ngb-pagination
    [collectionSize]="files().length"
    [(page)]="paginationSignal().page"
    [pageSize]="paginationSignal().pageSize"
    (pageChange)="onPaginationChange($event)"
  >
  </ngb-pagination>
</section>
