@use 'colors' as *;

:host {
  --bs-body-bg: transparent;
}

section {
  thead {
    th {
      background-color: $grey-04;
      font-weight: 800;
      padding: 0.5rem 1rem;
      height: 3.5rem;
      vertical-align: middle;
    }
  }

  tr {
    --bs-table-hover-bg: #{$blue-02};
    &.inValid {
      background-color: $red-02;
    }
    td {
      padding: 0.5rem 1rem;
      min-height: 3.5rem;
      vertical-align: middle;
      color: $grey-01;

      &.file {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &-remove {
          cursor: pointer;
        }
      }

      .validation {
        color: white;
        font-weight: 500;
        font-size: 0.875rem;
        border-radius: 0.25rem;
        padding: 0.24rem 0.5rem;
      }

      &.valid {
        span {
          @extend .validation;
          background-color: $green;
        }
      }

      &.inValid {
        span {
          @extend .validation;
          background-color: $red-01;
        }
      }
    }
  }
}
